                        // *1 variables*
@mixin flex{
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    align-items: center;
}
@mixin btn($br){
    width:70px;
    height:40px;
    margin: 10px;
    border-radius: $br;
    color: black;
    font-weight: 400;
    &:hover{
        background-color: aqua;
    }
    &:active{
        background-color: red;
    }
}

                        // global-resets
$primary-color:#f5f5f5;
$secondary-color:#2c3e50;
$text-color:#ffffff;
$font-lg:16px;
$font-sm:30px;
$spacing:20px;
$text-decoration:none;
$list-style:none;
$primaryFont: 'Roboto', sans-serif;


                        // Button-rests


                        // navbar-code


header{
    @include flex;
    background-color :$secondary-color;

    h2{
        font-family:$primaryFont;
        font-weight: 500;
    }
    
    li,a{
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        font-weight: 600;
        text-decoration: $text-decoration;
        list-style-type: $list-style;
        color: #f5f5f5;
        display: inline-block;
    }
    button{
        @include btn(8px);
    }


}

body{
    font-family: 'Courier New', Courier, monospace;
    font-size: $font-lg;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: $primary-color;
}

footer{
    position: fixed;
    appearance: hidden;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: $secondary-color;
    color: white;
    text-align: center;
}
